# Price APIs (use whichever is available)
SERPAPI_KEY=your_serpapi_key               # `https://serpapi.com`  (fallback)
METALS_API_KEY=your_metals_api_key         # `https://metals.live`  (another fallback)
REACT_APP_RAPIDAPI_KEY=PASTE_YOUR_RAPIDAPI_KEY_HERE

# Auth
JWT_SECRET=c2eb22281bda036c154a143c5740954371e48475a6d3040f6ab3a873aca2d473
ADMIN_PASSWORD=shopowner123

# App config
PORT=3001
rapid_api_key=6b71990264msh46f9274f34cf40fp10edd4jsnb9df7e14ffff 